@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font-stack: 'Roboto', sans-serif;
$primary-color: #333;
$menu-bar-bg-col: #002675;
$white: #fff;

$tooltap-padding: 15px;

body {
  color: $primary-color;
  font: 100% $font-stack;
}

.container-dashboard {
  background: $white;
  height: 100%;
  width: 100%;

  .wrapper-menu,
  .wrapper-map-barchart,
  .wrapper-graph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .wrapper-menu {
    background: $menu-bar-bg-col;
    height: 100px;
    justify-content: flex-start;

    .logo {
      content: url('https://upload.wikimedia.org/wikipedia/commons/9/9f/FBISeal.png');
      height: 86px;
      margin: 7px 10px;
      width: auto;
    }

    .wrapperInput{
      margin-top: 30px;
    }

    .wrapperRadio{
      margin-top: 23px;
    }

    #menu-crime-selection,
    #menu-year-selection,
    #radioAbs,
    #radioRate {
      float: left;
    }

    #menu-crime-selection,
    #menu-year-selection {
      height: 40px;
      margin-right: 10px;
     }

    #menu-crime-selection {
      width: 340px;
    }

    #menu-year-selection {
      width: 70px;
    }

    .description {
      color: $white;
    }

    .menuBtn {
      cursor: pointer;
      border: 1px $white solid;
      color: $white;
      height: 40px;
      margin-top: 30px;
      margin-left: 20px;

      &:hover {
        background-color: $white;
        color: $menu-bar-bg-col;
      }
    }
  }

  .wrapper-map-barchart {
    background: $white;

    .wrapper-map {
      background: $white;
      height: 50vh;
      justify-content: center;
      overflow: hidden;

      .svg-mapchart {
        margin-top: -30px;
      }

    }

    .wrapper-barchart {
      background: $white;
      overflow: scroll;

      .wrapperRadioBar {
        margin: 10 0 0 100;
      }
    }

    .tooltipMap,
    .tooltipBar {
      background: $menu-bar-bg-col;
      color: $white;
      opacity: 0;
      padding: $tooltap-padding;
      position: absolute;
      z-index: 9999;
    }

    .svg-barchart {
      background: $white;
      overflow: scroll;
    }

    .wrapper-map,
    .wrapper-barchart {
      height: 45%;
      width: 50vw;
    }
  }

  .wrapper-graph {
    height: calc(50%-100px);
    background: $white;
    position: absolute;
    bottom: 0;

    .legend {
      position: absolute;
      bottom: 0;
      height: 4vh;
      font-size: 12px;
    }

    .legendPart,
    .legendPart-bg,
    .legendPart-text {
      float: left;
    }

    .legendPart-bg {
      margin: 4 5 0 0;
    }

    .legendPart {
      padding: 10px;
    }
  }
}
