@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font-stack: 'Roboto', sans-serif;
$primary-color: #333;
$menu-bar-bg-col: #002675;
$white: #fff;

$min-height-map: 480px;

$tooltap-padding: 15px;

body {
  color: $primary-color;
  font: 100% $font-stack;
}

.container-dashboard {
  background: $white;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  .wrapper-menu,
  .wrapper-map-barchart,
  .wrapper-graph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }

  .wrapper-menu {
    background: $menu-bar-bg-col;
    height: 10vh;
    justify-content: flex-start;

    .logo {
      content: url('https://upload.wikimedia.org/wikipedia/commons/9/9f/FBISeal.png');
      height: 10vh;
      margin: 0 10;
      width: auto;
    }

    .wrapperInput,
    .wrapperRadio {
      margin-top: 2.2vh;
    }

    #menu-crime-selection,
    #menu-year-selection,
    #radioAbs,
    #radioRate {
      float: left;
    }

    #menu-crime-selection,
    #menu-year-selection {
      margin: 10;
     }

    #menu-crime-selection {
      width: 340px;
    }

    #menu-year-selection {
      width: 70px;
    }

    .description {
      color: $white;
    }

    .menuBtn {
      cursor: pointer;
      border: 1px $white solid;
      color: $white;
      margin: 20 10;

      &:hover {
        background-color: $white;
        color: $menu-bar-bg-col;
      }
    }
  }

  .wrapper-map-barchart {
    background: $white;
  }

  .wrapper-map {
    background: $white;
    height: 50vh;
    justify-content: center;
    min-height: $min-height-map;
    overflow: scroll;

    .tooltipMap {
      background: $menu-bar-bg-col;
      color: $white;
      opacity: 0;
      padding: $tooltap-padding;
      position: absolute;
    }
  }

  .wrapper-barchart {
    background: $white;
    overflow: scroll;
  }

  .svg-barchart {
    background: $white;
  }

  .wrapper-map,
  .wrapper-barchart {
    height: 50vh;
    min-height: $min-height-map;
    width: 50vw;
  }

  .wrapper-graph {
    background: $white;
    height: 40vh;
  }
}
